---
layout: home
title: Latest Posts
description: "Martinho Aragão's personal website, about programming, entrepreneurship, and all sorts of random stuff."
headline:
tags: [Martinho, Aragão, martinhoaragao, engineer, entrepreneur, developer]
---
{% if site.paginate %}
	{% for post in paginator.posts %}
		{% if site.wpm %}
		{% assign readtime = post.content | strip_html | number_of_words | append: '.0' | divided_by:site.wpm %}
		{% else %}
		{% assign readtime = post.content | strip_html | number_of_words | append: '.0' | divided_by:180 %}
		{% endif %}
		{% assign modifiedtime = post.modified | date: "%Y%m%d" %}
		{% assign posttime = post.date | date: "%Y%m%d" %}

		{% if post.type == 'quote' %}
			{% include types/quote.html %}
    {% endif %}

    {% if post.type == 'status' %}
			{% include types/status.html %}
    {% endif %}

    {% if post.type == 'video' %}
			{% include types/video.html %}
  	{% endif %}

  	{% if post.type == 'photo' %}
  		{% include types/photo.html %}
  	{% endif %}

    {% if post.type != 'video' and post.type != 'status' and post.type != 'quote' and post.type != 'photo' %}
			{% include types/normal.html %}
		{% endif %}

	{% endfor %}

	{% if paginator.total_pages > 1 %}
	  <div class="row text-center text-caps">
	    <div class="col-md-8 col-md-offset-2">
	      <nav class="pagination" role="navigation">
		{% if paginator.previous_page %}
			{% if paginator.previous_page == 1 %}
    		<a class="newer-posts" href="{{ site.url }}">&larr; Newer Posts</a>
			{% else %}
				<a class="newer-posts" href="{{ site.url }}/page{{ paginator.previous_page }}">&larr; Newer Posts</a>
			{% endif %}
		{% endif %}

		<span class="page-number">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
		{% if paginator.next_page %}
    	<a class="older-posts" href="{{ site.url }}/page{{ paginator.next_page }}">Older Posts &rarr;</a>
		{% endif %}
				</nav>
      </div>
    </div>
	{% endif %}

{% else %}
	{% for post in site.posts %}
		{% assign readtime = post.content | strip_html | number_of_words | append: '.0' | divided_by:site.wpm %}
		{% assign modifiedtime = post.modified | date: "%Y%m%d" %}
		{% assign posttime = post.date | date: "%Y%m%d" %}

		{% if post.type == 'quote' %}
			{% include quote.slim %}
		{% endif %}

		{% if post.type == 'status' %}
			{% include types/status.slim %}
		{% endif %}

		{% if post.type == 'video' %}
			{% include video.slim %}
		{% endif %}

		{% if post.type == 'photo' %}
			{% include photo.slim %}
		{% endif %}

		{% if post.type != 'video' and post.type != 'status' and post.type != 'quote' and post.type != 'photo' %}
			{% include normal.slim %}
		{% endif %}

	{% endfor %}
{% endif %}
