.row
  article.post.col-md-10.col-md-offset-1
    header.post-header
      h2.post-title.text-center.super.lighter
        a href=("{{ site.url }}{{ post.url }}") 
          i.fa.fa-quote-left
          | {{ post.excerpt | strip_html }}
      p.light.small.text-center
        | Share this Quote
      ul.social-mini.text-center
        li
          a data-toggle="tooltip" href=("https://twitter.com/intent/tweet?text=&quot;{{ post.title }}&quot;%20{{ site.url }}{{ post.url }}%20via%20@{{ site.owner.twitter }}") onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;" title=("Share on Twitter") 
            i.fa.fa-twitter
        li
          a data-toggle="tooltip" href=("https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ post.url }}") onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;" title=("Share on Facebook") 
            i.fa.fa-facebook
        li
          a data-toggle="tooltip" href=("https://plus.google.com/share?url={{ site.url }}{{ post.url }}") onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;" title=("Share on Google plus") 
            i.fa.fa-google-plus
      .post-body.bordered-bottom.text-center
        | {% if post.description %}
        a.more-link.btn.btn-danger.btn-large data-toggle="tooltip" href=("{{ site.url }}{{ post.url }}") title=("{{ post.description }}") 
          i.fa.fa-link
          | permalink...
        | {% else %}
        a.more-link.btn.btn-danger.btn-large data-toggle="tooltip" href=("{{ site.url }}{{ post.url }}") title=("Read more about {{ post.title }}") 
          i.fa.fa-link
          | permalink...
        | {% endif %}
